.navbar-right {
    margin-right: 0;
}

#title .btn,
.score .btn {
    padding: 10px 50px;
}

footer .contact-form-widget,
footer .contact-form-name,
footer .contact-form-email,
footer .contact-form-email-message {
    max-width: none;
}

#ContactForm1_contact-form-submit {
    float: right;
}

#ContactForm1_contact-form-submit::after {
    content: "";
    clear: both;
    display: table;
}
