body {
    font-size: 18px;
}

.question-pool {
    margin-top: 30px;
}

.answer div {
    max-width: calc(100% - 40px);
}

.blockquote {
    margin: 15px 0;
}

.blockquote-footer {
    opacity: .5;
}

.blockquote-footer::before {
    content: "-- ";
}

hr {
    display: block;
    border: 0;
    height: 10px;
    background: url('/img/wave-hr.png') center;
    max-width: 170px;
    margin: 0 auto;
}

.btn {
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-lg {
    padding: 10px 50px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.text-success {
    color: #3c763d;
}

.text-danger {
    color: #a94442;
}

.progress {
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #337ab7;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}

.progress-bar-success {
    background-color: #5cb85c;
}

.progress-bar-danger {
    background-color: #d9534f;
}

#test {
    margin-bottom: 30px;
}

#disqus_thread {
    padding-top: 60px;
}

footer,
footer .footer-col-wrapper {
    color: #fff;
    background-color: #38a;
}

footer a,
footer a:hover,
footer a:visited {
    color: #fff;
}

footer .svg-icon {
    fill: #fff;
}
